langchain
langchain_community
fastapi 
uvicorn
langchain-groq==0.2.1
pandas
python-dotenv
pydub
langchain_huggingface
sentence-transformers
python-multipart
elevenlabs
firebase-admin
PyPDF2
websockets
dotenv
langgraph
langchain_google_community
google-auth-oauthlib
langchain_openai